* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  background: #f9dd0a;
}

.header-icon {
  margin-top: 10px;
  padding-bottom: 7px;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-navigation__phone {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 17px;
  background-image: url(../img/bk-phone.png);
  max-width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
  line-height: 17px;
  border-radius: 5px;
}

.header-navigation__phone a {
  margin-left: -1px;
  color: #f9dd0a;
}

.header-navigation__bar {
  margin-top: 8px;
  margin-right: -55px;
}

.header-navigation__bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navigation__bar li {
  list-style-type: none;
  margin-right: 20px;
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.header-navigation__bar li:hover {
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.header-navigation__bar a {
  color: #000000;
}

.main {
  min-height: 810px;
  background-image: url(../img/monitor.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main-video {
  margin-left: 27.5px;
  margin-top: 58px;
}

.main-form {
  margin-top: 28px;
  min-height: 425px;
  max-width: 280px;
  background-color: #f9dd0a;
  border-radius: 15px;
}

.main-form__wrap {
  padding: 0 22px;
}

.main-form__headline {
  margin-top: 26px;
  font-family: 'MyriadPro-Bold', sans-serif;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.main-form__text {
  max-width: 240px;
  font-family: 'MyriadPro-Regular', sans-serif;
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
}

.main-form__input {
  min-width: 208px;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  padding: 13px;
}

.main-form__name {
  margin-top: 44px;
}

.main-form__tel {
  margin-top: 26px;
}

.main-form__button {
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  padding: 7px 59px;
  text-transform: uppercase;
  font-family: 'MyriadPro-Bold', sans-serif;
  font-size: 24px;
  margin-top: 28px;
  -webkit-box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.35);
}

.main-form__button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.main-about {
  margin-top: 160px;
}

.main-about__headline h1 {
  font-size: 36px;
  font-family: 'MyriadPro-Regular', sans-serif;
  text-align: center;
}

.main-about__text {
  margin-top: 20px;
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 17px;
  text-align: justify;
}

.advantages {
  background-color: #f9dd0a;
  padding-bottom: 32px;
}

.advantages-headline {
  padding-top: 23px;
  text-align: center;
  font-size: 35px;
  line-height: 35px;
  font-family: 'Cuprum', arial;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.advantages-block {
  max-width: 159px;
}

.advantages-block__img {
  text-align: center;
}

.advantages-block__text {
  text-align: center;
  font-family: 'Cuprum', arial;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-top: 12px;
}

.quality {
  width: 189px;
  margin-left: -10px;
}

.statistics {
  background-image: url(../img/bk3.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 12px;
}

.statistics-headline {
  padding-top: 30px;
  width: 345px;
  margin: 0 auto;
}

.statistics-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics-block {
  padding: 18px 0;
}

.statistics-block:first-child {
  margin-left: 15px;
}

.statistics-block:last-child {
  margin-left: 82px;
}

.statistics-block:nth-child(2n) {
  margin-left: 84px;
}

.statistics-block__text {
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  font-family: 'Cuprum', arial;
}

.portfolio {
  padding-bottom: 74px;
}

.portfolio-headline {
  text-align: center;
  font-family: 'Cuprum', arial;
  font-weight: bold;
  font-size: 20px;
  margin-top: 33px;
  line-height: 31px;
}

.portfolio-block {
  max-width: 202px;
  margin-top: 23px;
  margin-bottom: 7px;
  margin-left: 30px;
}

.portfolio-block:first-child {
  margin-top: 23px;
  margin-left: 0;
}

.awards {
  background-color: #f9dd0a;
  padding-bottom: 37px;
}

.awards-headline {
  text-align: center;
  padding-top: 34px;
  font-size: 22px;
  font-family: 'Cuprum', arial;
}

.awards-block {
  margin-top: 26px;
  width: 280px;
}

.awards-block__text {
  margin-top: 24px;
}

.cooperation {
  padding-bottom: 11px;
}

.cooperation-headline {
  text-align: center;
  padding-top: 30px;
  font-size: 23px;
  text-transform: uppercase;
}

.cooperation-block {
  margin-top: 11px;
  margin-bottom: 5px;
  display: table;
  width: 100%;
}

.cooperation-block__last {
  width: 548px;
  margin: 29px auto;
}

.cooperation-block__img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.cooperation-block__img__1 {
  margin-left: 4px;
}

.cooperation-block__img__2 {
  margin-left: 36px;
}

.cooperation-block__img__3 {
  margin-left: 24px;
}

.cooperation-block__img__4 {
  margin-left: 35px;
}

.cooperation-block__img__5 {
  padding-left: 66px;
}

.cooperation-block__img__6 {
  padding-left: 55px;
}

.cooperation-block__img__7 {
  padding-left: 36px;
}

.cooperation-block__img__8 {
  padding-left: 45px;
}
/*# sourceMappingURL=main.css.map */