.row
    display: flex
    justify-content: space-between
.header
    background: $main-color
    &-icon
        margin-top: 10px
        padding-bottom: 7px
    &-navigation
        display: flex
        flex-direction: column
        align-items: flex-end
        &__phone
            +regular
            font-size: 17px
            background-image: url(../img/bk-phone.png)
            background-repeat: no-repeat
            max-width: 200px
            padding:
                top: 12px
                bottom: 12px
                left: 49px
            line-height: 17px
            border-radius: 5px
            a
                margin-left: -1px
                color: $main-color     
        &__bar
            margin-top: 8px
            margin-right: -55px
            ul
                display: flex
                
            li
                list-style-type: none
                margin-right: 20px
                +regular
                font-size: 16px
                line-height: 26px
                &:hover
                    transform: rotateZ(10deg)
            a
                color: $black
                
                